<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jim.testapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Activities.AnotherActivity"
            android:label="@string/title_activity_another"
            android:parentActivityName=".Activities.Activities.IntentExample" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jim.testapp.Activities.Activities.IntentExample" />
        </activity>
        <activity
            android:name=".Activities.Activities.IntentExample"
            android:label="@string/title_activity_intent_example" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jim.testapp.Activities.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.Activities.SPExample"
            android:label="@string/title_activity_spexample"
            android:parentActivityName=".Activities.Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jim.testapp.Activities.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.Activities.SPActivity"
            android:label="@string/title_activity_sp"
            android:parentActivityName=".Activities.Activities.SPExample" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jim.testapp.Activities.Activities.SPExample" />
        </activity>
        <activity
            android:name=".Activities.Activities.ListAdapterActivity"
            android:label="@string/title_activity_list_adapter"
            android:parentActivityName=".Activities.Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jim.testapp.Activities.Activities.MainActivity" />
        </activity>
    </application>

</manifest>
